@font-face {
    font-family: Noto;
    font-weight: 100;
    src: url(../fonts/NotoSans/NotoSans-Light.ttf);
}

@font-face {
    font-family: Noto;
    font-weight: 200;
    src: url(../fonts/NotoSans/NotoSans-Regular.ttf);
}

@font-face {
    font-family: Noto;
    font-weight: 400;
    src: url(../fonts/NotoSans/NotoSans-Medium.ttf);
}

@font-face {
    font-family: Noto;
    font-weight: 600;
    src: url(../fonts/NotoSans/NotoSans-Bold.ttf);
}

@font-face {
    font-family: Comfortaa;
    font-weight: 200;
    src: url(../fonts/Comfortaa/Comfortaa-Regular.ttf);
}

@font-face {
    font-family: Comfortaa;
    font-weight: 400;
    src: url(../fonts/Comfortaa/Comfortaa-Medium.ttf);
}

@font-face {
    font-family: Comfortaa;
    font-weight: 600;
    src: url(../fonts/Comfortaa/Comfortaa-Bold.ttf);
}